name: CD

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to Server
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USERNAME }}
          password: ${{ secrets.SERVER_PASSWORD }}
          command_timeout: 30m
          script: |
            cd /home/projects/Arcane_Club/
            if [ -f .env ]; then cp .env .env.backup; fi
            if [ -f frontend/.env ]; then cp frontend/.env frontend/.env.backup; fi
            
            git reset --hard HEAD
            git pull origin main
            
            if [ -f .env.backup ]; then mv .env.backup .env; fi
            if [ -f frontend/.env.backup ]; then mv frontend/.env.backup frontend/.env; fi
            
            npm install
            npm run build
            
            cd frontend
            npm install
            npm run build
            cd ..
            
            pm2 restart all